/*Hoja de estilos*/

:root {
	--aspa-red: #EA5250;
	--aspa-black: #201E1E;
}
  
body{
	background-color: var(--aspa-red);
	margin: 0px;
}

h1{
	color: white;
	font-family: "chaneyultra_extended";
	letter-spacing: 50px;
}

p{
	color: var(--aspa-black);
	font-family: "wotfardbold";
	margin:auto;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.container {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 80%;
	max-width: 800px;
	margin:auto;
	padding: 100px;
	padding-top: 20px;
}

.elemento {
	flex-grow: 0;
	background-color: white;
	padding-bottom: 20px;
	width:100%;
}

.elemento_header {
	flex-grow: 0;
	background-color: white;
	width:100%;
}

.pixelpics {
	max-width: 100%;
	height: auto;
}

.aspa_header {
	margin:auto;
}

.container_pixel {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 80%;
	max-width: 800px;
	margin: 0;
	padding: 0;
	padding-top: 0;
}
.elemento_pixel {
	flex-grow: 0;
	background-color: white;
	padding-bottom: 0;
	width:50%;
}
