:root {
    --aspa-red: #EA5250;
    --aspa-black: #201E1E;
    --aspa-logo: #E43B44;
    --dark-red: #3E2731;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'wotfardregular', sans-serif;
    font-size: 18px;
    background-color: var(--dark-red);
    color: #fff;
}

.container {
    display: flex;
    min-height: 100vh; /* Altura mínima de la ventana visible (viewport height) */
}

.sidebar {
    width: 200px;
    background-color: var(--aspa-logo);
    color: #fff;
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el ancho y alto */
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "wotfardmedium";
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    display: block;
}

.sidebar a:hover {
    font-family: "wotfardbold";
    font-size: 20px;
}

.sidebar img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0px 0px 20px 0px;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; /* Incluye padding en el ancho y alto */
}

.full-height {
    height: 100vh; /* Cada sección ocupa el 100% de la altura de la ventana */
    margin-right: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-links {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: calc(100% - 40px);
}