/*Hoja de estilos*/

:root {
	--aspa-red: #EA5250;
	--aspa-black: #201E1E;
}
  
body{
	background-color: var(--aspa-red);
}

h1{
	color: white;
	font-family: "chaneyultra_extended";
	letter-spacing: 5px;
}

p{
	color: var(--aspa-black);
	font-family: "wotfardbold";
}