*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
html{
    color-scheme: dark light;
    background: lightblue;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
/*---------------------------------*/
.body {
    display:flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.1fr;
    grid-row-gap: 0.1fr;
    justify-items: stretch;
    align-items: stretch;
    margin: 0 auto;
    width: 50%;
}

.item {
    /*background: #3273dc;*/
    color: #fff;
    padding: 20px;
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty {
    background: transparent;
}

svg{
    fill: none;
    stroke:red;
    stroke-miterlimit:10;
    stroke-width:10px;
}

.symbol_on {
    stroke:#0126af;
    filter:
    drop-shadow(0px 0px 2px #fff)
    drop-shadow(0px 0px 3px #6889ff)
    drop-shadow(0px 0px 5px #385ad6)
    drop-shadow(0px 0px 7px #0c38da); 
}

.symbol_off {
    stroke:#000c3d;
}
